<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1">
    <meta name="viewport"
        content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no,">
    <title>AnyWeatherr</title>

    <!--CSS and Fonts-->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
        href="https://fonts.googleapis.com/css2?family=Crimson+Pro:wght@200;300;400;500;600;700;800;900&family=Rubik:wght@300;400;500;600;700;800;900&display=swap"
        rel="stylesheet" />
    <link
        href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="css/root.css">
    <link rel="stylesheet" href="css/landing.css" />
    <script src="https://kit.fontawesome.com/ebd4c0f83f.js" crossorigin="anonymous"></script>
</head>

<body class="theme-light">
    <div id="layout">
        <div id="layout-bg" style="--url: url('/images/random.jpg');"></div>
        <div id="main-data">
            <header>AnyWeatherr</header>
            <div id="main-data-wrapper">
                <h1 id="degrees">
                    <span id="degrees-num">
                        NA
                    </span>
                    <sup>o</sup>
                </h1>
                <p id="date">NA:NA:NA</p>
                <img src="//cdn.weatherapi.com/weather/64x64/day/317.png" alt="weather icon" id="icon">
                <p id="weather-type">NA</p>
                <h2 id="city">
                    Unavailable
                </h2>
            </div>
        </div>
        <div id="card">
            <div id="search-container" tabindex="0">
                <i class="fa-solid fa-magnifying-glass" id="search-button"></i>
                <label for="search"></label>
                <input type="text" name="search" id="search" placeholder="Search location">
                <div id="search-results" style="display: none;">
                    No results found...
                </div>
            </div>
            <div id="sun-moon-cycle-container">
                <div class="cycle-info" id="sunrise">
                    <i class="fa-solid fa-circle-half-stroke cycle-icon"
                        style="--degrees: 90deg; --background: var(--color-dark); --color: var(--color-orange);"></i>
                    <div class="cycle-type">SUNRISE</div>
                    <div class="cycle-time" id="sunrise-time">NA:NA AM</div>
                </div>
                <div class="cycle-graph-container" id="sun-graph">
                    <div class="sun-moon-icons" id="sun-icon"
                        style="--degrees: 0deg; --transform-origin: 50% 100%; --align-items: flex-end">
                        <i class="fa-solid fa-sun"
                            style="--background: var(--color-orange); --color: var(--color-yellow); --top: 15px;"></i>
                    </div>
                    <div class="cycle-graph" style="--graph-color: var(--color-orange); --degrees: 0deg;">
                    </div>
                    <div class="cycle-total-time" id="sun-time">
                        Not Available
                    </div>
                </div>
                <div class="cycle-info" id="sunset">
                    <i class="fa-solid fa-circle-half-stroke cycle-icon"
                        style="--degrees: -90deg; --background: var(--color-dark); --color: var(--color-orange);"></i>
                    <div class="cycle-type">SUNSET</div>
                    <div class="cycle-time" id="sunset-time">NA:NA PM</div>
                </div>
                <div class="cycle-info" id="moonset">
                    <i class="fa-solid fa-circle-half-stroke cycle-icon"
                        style="--degrees: -90deg; --background: var(--color-dark-gray); --color: var(--color-gray);"></i>
                    <div class="cycle-type">MOONSET</div>
                    <div class="cycle-time" id="moonset-time">NA:NA AM</div>
                </div>
                <div class="cycle-graph-container" id="moon-graph">
                    <div class="sun-moon-icons" id="moon-icon"
                        style="--degrees: 0deg; --transform-origin: 50% 0; --align-items: flex-start;">
                        <i class="fa-solid fa-moon"
                            style="--background: var(--color-dark); --color: var(--color-gray); --top: -8px;"></i>
                    </div>
                    <div class="cycle-graph" style="--graph-color: var(--color-dark); --degrees: 180deg;">
                    </div>
                    <div class="cycle-total-time" id="moon-time">
                        Not Available
                    </div>
                </div>
                <div class="cycle-info" id="moonrise">
                    <i class="fa-solid fa-circle-half-stroke cycle-icon"
                        style="--degrees: 90deg; --background: var(--color-dark-gray); --color: var(--color-gray);"></i>
                    <div class="cycle-type">MOONRISE</div>
                    <div class="cycle-time" id="moonrise-time">NA:NA PM</div>
                </div>
            </div>
            <span class="section-divider"></span>
            <header>Weather Data</header>
            <div id="weather-data-container">
                <div class="weather-item">
                    <div class="item-text">
                        <div class="item-icon">
                            <i class="fa-solid fa-wind"></i>
                        </div>
                        Wind
                    </div>
                    <div class="item-data" id="wind">NA MPH</div>
                </div>

                <div class="weather-item">
                    <div class="item-text">
                        <div class="item-icon">
                            <i class="fa-solid fa-location-arrow"></i>
                        </div>
                        Wind Degree
                    </div>
                    <div class="item-data"><span id="wind-degree">NA</span><sup>o</sup></div>
                </div>

                <div class="weather-item">
                    <div class="item-text">
                        <div class="item-icon">
                            <i class="fa-solid fa-droplet"></i>
                        </div>
                        Humidity
                    </div>
                    <div class="item-data" id="humidity">NA%</div>
                </div>

                <div class="weather-item">
                    <div class="item-text">
                        <div class="item-icon">
                            <i class="fa-solid fa-cloud"></i>
                        </div>
                        Cloud
                    </div>
                    <div class="item-data" id="cloud"> NA%</div>
                </div>

                <div class="weather-item">
                    <div class="item-text">
                        <div class="item-icon">
                            <i class="fa-solid fa-temperature-three-quarters"></i>
                        </div>
                        Feels Like
                    </div>
                    <div class="item-data"><span id="feelslike">NA</span><sup>o</sup></div>
                </div>

                <div class="weather-item">
                    <div class="item-text">
                        <div class="item-icon">
                            <i class="fa-solid fa-wind"></i>
                        </div>
                        Gust
                    </div>
                    <div class="item-data" id="gust">NA MPH</div>
                </div>
            </div>
        </div>
    </div>

</body>
<!-- Scripts -->
<script src="js/landing.js" type="module"></script>

</html>