/* Strip elements of default values */
*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: none;
}

/* CSS variables */
:root {
    /* Fonts */
    --font-primary: "Rubik";
    --font-secondary: "Crimson Pro";
    --font-tertiary: "Montserrat", sans-serif;

    /* layout */
    --layout-max-width: 1080px;
}

.preload * {
    -webkit-transition: none !important;
    -moz-transition: none !important;
    -ms-transition: none !important;
    -o-transition: none !important;
    transition: none !important;
}

.theme-light {
    /* Colors */
    --color-primary: #53f;
    --color-secondary: #05d5ff;
    --color-tertiary: #a6ffcb;
    --color-gray: #ccd7e0;
    --color-gray-hover: #afbbc5;
    --color-green: #00e05e;
    --color-orange: #e88c23;
    --color-red: #e63946;
    --color-yellow: #ffe203;
    --bg-primary: #53f;
    --bg-black: #141414;
    --bg-gray: #ccd7e0;
    --bg-tertiary: #11c6ab;
    /* Light colors */
    --color-light: #fff;
    --color-light-primary: rgb(208, 199, 255);
    --color-light-gray: rgb(239, 244, 250);
    --bg-light-primary: rgb(208, 199, 255);
    --bg-light-gray: rgb(226, 233, 242);
    --bg-light: #fff;
    /* Dark colors */
    --color-dark: #425466;
    --color-dark-gray: #89939b;
    --color-dark-primary: rgb(56, 33, 171);
    --color-dark-blue: #023047;
    --bg-dark: #425466;
    --bg-dark-primary: #3720aa;
    --bg-dark-tertiary: #0f806f;
    --hover-dark: #425466;
}

/* shared css elements */